# SPDX-FileCopyrightText: 2023 Artemis Changelog Contributors
#
# SPDX-License-Identifier: EUPL-1.2

name: Lint
on: [push, pull_request]

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.13"]
        os: ["ubuntu-latest"]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Check imports with isort
        run: uv run isort --check-only . --profile black

      - name: Check formatting
        run: uv run ruff format --diff --check .

      - name: Check typing with mypy
        run: uv run mypy src tests

      - name: Check typing with pyre
        run: uv run pyre

      - name: General linting with ruff
        run: uv run ruff check src tests

      - name: Check reuse
        run: uv run reuse lint
